## Multi-Class Classification

take clustered data, classify

In [35]:
# check installed version
import pycaret
import pandas as pd
pycaret.__version__

'3.0.4'

In [36]:
#get latest experiment in the clustered directory
import os
import glob

def newest_file(directory):
    list_of_files = glob.glob(directory + '/*')
    latest_file = max(list_of_files, key=os.path.getctime)
    return latest_file

In [37]:
latestEXP = newest_file("clustered")
print(latestEXP)
load_clustered = pd.read_csv(latestEXP) #'clustered/clustered_meanshift _2023-09-04 14:59:41.csv'
load_clustered

clustered/clustered_sc _2023-09-09 19:45:53.csv

,Unnamed: 0,precursor_buy_cap_pct_change,precursor_ask_cap_pct_change,precursor_bid_vol_pct_change,precursor_ask_vol_pct_change,change.1,surge_targets_met_pct,Cluster
0,1,-0.000443,0.000023,-0.000184,0.003196,0.000135,-0.033490,Cluster 0
1,2,-0.002358,-0.000002,-0.000818,-0.000333,-0.000233,-0.033445,Cluster 0
2,3,0.000349,0.000031,0.000189,0.004485,-0.000502,-0.033467,Cluster 0
3,4,0.000473,0.000015,0.000120,0.001861,-0.000768,-0.167224,Cluster 0
4,5,0.006050,0.000020,0.002144,0.003015,-0.000303,-0.371245,Cluster 0
...,...,...,...,...,...,...,...,...
5627,5631,0.000261,-0.003409,0.000050,-0.016427,-0.000398,-0.199005,Cluster 0
5628,5632,-0.008493,-0.001014,-0.002097,-0.004181,-0.283913,0.000000,Cluster 0
5629,5633,-0.002290,0.000014,-0.000566,0.000067,0.000399,0.000000,Cluster 0
5630,5634,-0.002373,-0.000333,-0.000586,-0.001572,0.000000,-0.099701,Cluster 0
5631,5635,0.003724,0.000931,0.000911,0.004449,0.000000,-0.099800,Cluster 0

In [38]:
# clustered.drop(['group', 'time', 's_MP', 'change', 'type', 'length', 'sum_change', 'surge_area' ] , axis=1, inplace=True) 
print(load_clustered.columns)

Index(['Unnamed: 0', 'precursor_buy_cap_pct_change',
       'precursor_ask_cap_pct_change', 'precursor_bid_vol_pct_change',
       'precursor_ask_vol_pct_change', 'change.1', 'surge_targets_met_pct',
       'Cluster'],
      dtype='object')

In [39]:
#eliminate surge columns, 'change', 'sum_change','surge_area',
keepable = ['precursor_buy_cap_pct_change',
       'precursor_ask_cap_pct_change', 
        'precursor_bid_vol_pct_change',
       'precursor_ask_vol_pct_change', 
        'change.1', 
        'Cluster']
clustered = load_clustered[keepable]

In [40]:
#setup 
from pycaret.classification import *
s = setup(clustered, target = 'Cluster', session_id = 42, normalize = True)

In [41]:
from pycaret.classification import ClassificationExperiment
exp = ClassificationExperiment()

In [42]:
type(exp)

pycaret.classification.oop.ClassificationExperiment

In [43]:
exp.setup(clustered, target = 'Cluster', session_id = 42)

In [ ]:
best = compare_models()

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,19:46:14
Status,. . . . . . . . . . . . . . . . . .,Fitting 10 Folds
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

Processing:   0%|          | 0/65 [00:00<?, ?it/s]

In [ ]:
plot_model(best, plot = 'confusion_matrix')

In [ ]:
# plot_model(best, plot = 'auc')

In [ ]:
# plot_model(best, plot = 'efficiency')
# #

In [ ]:
evaluate_model(best)

In [ ]:
holdout_pred = predict_model(best)

In [ ]:
holdout_pred.head()

### loading a model

In [ ]:
# check installed version
import pycaret
import pandas as pd
pycaret.__version__

In [ ]:
# functional API
# loaded_model = load_model('iforest_pipeline')
# print(loaded_model)

# OOP API
# loaded_model = s.load_model('kmeans_pipeline')
# print(loaded_model)